---
import Card from '../Card.astro'
import { Badge } from '../ui/badge'
import { CERTS } from '../../lib/constants'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" title="Certifications">

  <div class="mt-2 flex w-full flex-wrap items-center justify-center gap-2 content-center">
    {
      CERTS.map((study) => (
        <a href={study.link} target="__blank">
          <img src={study.url} alt={study.alt} class="w-20 h-20 hover:cursor-pointer" />
          <p class="text-xs font-light text-center">{study.name}</p>
        </a>
      ))
    }
  </div>

</Card>
