---
import Card from '../Card.astro'
import { Badge } from '../ui/badge'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" title="Socials">
  <div class="mt-2 flex w-full flex-wrap items-center justify-center gap-4 content-center">
    <div class="mt-2 flex w-full flex-wrap items-center justify-center gap-4 content-center"></div>
        <a href="https://www.instagram.com/this.is.santosh/" target="__blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram" width="48" height="48" />
        </a>
        <a href="https://leetcode.com/u/SantoshKanumuri/" target="__blank">
          <img class="rounded-md" src="https://user-images.githubusercontent.com/36547915/97088991-45da5d00-1652-11eb-900f-80d106540f4f.png" alt="Leetcode" width="50" height="50" />
        </a>
        <a>
          <img class="rounded-md"src="https://mahendrakotapati.github.io/images/hackerrank.jpeg" alt="Hackerrank" width="50" height="50" />
        </a>
  </div>
</div>
</Card>
